<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>152956860313-gehrhrupkkq0lnt2v8t1fnehuavif69g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.152956860313-gehrhrupkkq0lnt2v8t1fnehuavif69g</string>
	<key>API_KEY</key>
	<string>AIzaSyB-5vXwwlPIi6tQBUTUFLFMY5cEHDae4rU</string>
	<key>GCM_SENDER_ID</key>
	<string>152956860313</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>manorisd.PathwaySuccess</string>
	<key>PROJECT_ID</key>
	<string>pathwaysuccessfirebase</string>
	<key>STORAGE_BUCKET</key>
	<string>pathwaysuccessfirebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:152956860313:ios:8b14f36962cd703a</string>
	<key>DATABASE_URL</key>
	<string>https://pathwaysuccessfirebase.firebaseio.com</string>
</dict>
</plist>